.body{
	background: lightgray;
}
.App {
  text-align: center;
  margin-top: 40px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button{
		padding: 20px 10px;
		border-radius: 3px;
		background: lightblue;
		color: rosybrown;
		font-size: 16px;
		font-weight: bold;
		margin: 20px;
}